[Unit]
Description=TenRusl Instagram API
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/tenrusl-instagram-api
EnvironmentFile=/var/www/tenrusl-instagram-api/.env
ExecStart=/usr/bin/node src/server.js
Restart=always
RestartSec=5
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
